# Only the stack's own files go into the image (LICENSE, NOTICE and
# docs/licences.md travel with it; the other docs, eval data and the
# developer tools in tools/ do not).
.git/
.github/
docs/*
!docs/licences.md
eval/
tools/
voices/*
!voices/voxcpm/
**/__pycache__/
**/*.pyc
.env
.env.*
!.env.example
**/*.wav
!voices/voxcpm/*.wav
out-*/
